@import url('https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap');

body{
    background: white;
    font-family: 'Eagle Lake', cursive;
}

.container{
    display:grid;
    grid-template-areas: "hd hd hd hd hd"
                        "nv1 nv2 nv3 nv4 nv5"
                        "art art art art art"
                        "ft ft ft ft ft";
    gap: 1vh;
}

@media only screen and (max-width: 600px) {
    .container{    
        grid-template-areas: "hd hd"
                            "nv1 nv1"
                            "nv2 nv3"
                            "nv4 nv5"
                            "art art"
                            "ft ft";
        gap: 0.5vh;
    }

    .outputbox {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}

#logo {
    height: 20vh;
    margin-left: 50%;
    margin-right: 50%;
}

select {
    width: 80%;
    padding: 18px 22px;
    border: none;
    border-radius: 1vh;
    color: black;
    font-family: 'Eagle Lake', cursive;
    background-color: white;  
}

article {
    background: #ffde2d;
    text-align: center;
    grid-area: art;
}

button {
    width: 20%;
    padding: 1vh;
    margin: 2vh;
    border-radius: 1vh;
    color: black;
    font-family: 'Eagle Lake', cursive;
    background-color: white;  
    cursor: pointer;
}

#nav1 {
    grid-area: nv1;
}
#nav2 {
    grid-area: nv2;
}
#nav3 {
    grid-area: nv3;
}
#nav4 {
    grid-area: nv4;
}
#nav5 {
    grid-area: nv5;
}

nav {
    background: #ffde2d;
    padding: 2%;
    margin: 2%;
    border-radius: 2vh;
}

footer {
    grid-area: ft;
    text-align: center;
    background: #ffde2d;
    padding: 0.1%;
    margin: 0.1%;
    border-radius: 1vh;
}

header{
    background: #ffde2d;
    width: 100%;
    height:100%;
    border-radius: 10vh;
    grid-area: hd;
    text-align: center;
}

nav {
    
    text-align: center;
}

.outputbox {
    font-size: larger;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 2vh;
    padding: 1vh;
    background: white;
}

a {
    color: black;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
    color: white;
}

h1 {
    font-size:  x-large;
}

h2 {
    font-size: medium;
}

#infobox {
    text-align: left;
    padding: 1vh;
}

